body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgb(222 171 212);
}

h1 {
    color: #ff0033;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.286);
}

h2 {
    color:rgb(18, 18, 94);
    font-size:40px;
}